@import "../../../assets/scss/variables.scss";

.searchBar_wrapper {
  background-color: #7077a1;
  height: 40px;
  width: 60%;
  border-radius: 8px;
  padding: 0 12px 0 20px;
  cursor: pointer;
  position: relative;
}

.search_icon {
  height: 20px;
  position: relative;
  top: 5px;
  right: 5px;
  filter: invert(1);
}

.search_input {
  height: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;

  &::placeholder {
    color: white;
  }
}

.error {
  .search_input{
    &::placeholder {
      color: rgb(131, 70, 70);
    }
  }
}

.search_btn {
  position: absolute;
  right: 4px;
  background-color: white;
  height: 35px;
  border-radius: 4px;
  top: 2px;
  border: none;
  color: #0971ba;
  font-weight: 500;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    background-color: #dff2ff;
  }
}

@media (max-width: $mobile-breakpoint) {
  .searchBar_wrapper {
    height: fit-content;
    width: 100%;
  }

  .search_input {
    width: 75%;
    padding: 8px;
  }

  .search_btn {
    position: absolute;
    width: 100%;
    top: 50px;
  }
}
